<%- include("partials/header") -%>
<h3 class="myDetails"><%=content%></h3>
<div class="center">
  <a class="blog-btn" href="mailto:japkarprashant121@gmail.com">CONTACT ME</a>
</div>
<%- include("partials/footer") -%>
